In [1]:
# Import the dependencies 
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key
# Store the csv you saved and created into the DataFrame 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hambantota,LK,2022-02-07 19:57:18,6.1241,81.1185,77.25,78,100,4.56
1,1,Port Alfred,ZA,2022-02-07 19:54:05,-33.5906,26.8910,73.81,90,41,8.39
2,2,Hami,CN,2022-02-07 19:57:22,42.8000,93.4500,24.94,40,1,1.83
3,3,Ajaccio,FR,2022-02-07 19:57:23,42.0000,8.9167,50.05,87,0,5.75
4,4,Souillac,MU,2022-02-07 19:57:24,-20.5167,57.5167,79.18,89,75,4.61

In [2]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,32.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=275, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hambantota,LK,2022-02-07 19:57:18,6.1241,81.1185,77.25,78,100,4.56
4,4,Souillac,MU,2022-02-07 19:57:24,-20.5167,57.5167,79.18,89,75,4.61
7,7,Biak,ID,2022-02-07 19:57:27,-0.9131,122.8766,75.38,76,67,1.99
10,10,Cabo San Lucas,MX,2022-02-07 19:57:29,22.8909,-109.9124,80.62,47,0,7.85
17,17,Hilo,US,2022-02-07 19:53:21,19.7297,-155.0900,75.25,83,100,8.05
19,19,Castro,BR,2022-02-07 19:57:33,-24.7911,-50.0119,78.57,54,0,5.08
25,25,Ancud,CL,2022-02-07 19:57:39,-41.8697,-73.8203,75.22,69,94,9.48
26,26,Atuona,PF,2022-02-07 19:57:41,-9.8000,-139.0333,78.48,75,3,17.78
29,29,Bandarbeyla,SO,2022-02-07 19:57:44,9.4942,50.8122,75.09,69,22,18.32
31,31,Coihaique,CL,2022-02-07 19:57:47,-45.5752,-72.0662,80.55,29,0,5.75

In [28]:
preferred_cities_df.count()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0       Hambantota      LK     77.25   6.1241   81.1185
4         Souillac      MU     79.18 -20.5167   57.5167
7             Biak      ID     75.38  -0.9131  122.8766
10  Cabo San Lucas      MX     80.62  22.8909 -109.9124
17            Hilo      US     75.25  19.7297 -155.0900
19          Castro      BR     78.57 -24.7911  -50.0119
25           Ancud      CL     75.22 -41.8697  -73.8203
26          Atuona      PF     78.48  -9.8000 -139.0333
29     Bandarbeyla      SO     75.09   9.4942   50.8122
31       Coihaique      CL     80.55 -45.5752  -72.0662

In [39]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [40]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hambantota,LK,77.25,6.1241,81.1185,Bungalow 63
4,Souillac,MU,79.18,-20.5167,57.5167,Shanti Maurice Resort & Spa
7,Biak,ID,75.38,-0.9131,122.8766,Penginapan Kim
10,Cabo San Lucas,MX,80.62,22.8909,-109.9124,Hotel Tesoro Los Cabos
17,Hilo,US,75.25,19.7297,-155.0900,Hilo Hawaiian Hotel
19,Castro,BR,78.57,-24.7911,-50.0119,CHACARA BAILLY
25,Ancud,CL,75.22,-41.8697,-73.8203,Hotel Arena Gruesa
26,Atuona,PF,78.48,-9.8000,-139.0333,Villa Enata
29,Bandarbeyla,SO,75.09,9.4942,50.8122,JABIR HOTEL
31,Coihaique,CL,80.55,-45.5752,-72.0662,Diego De Almagro Coyhaique

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))