## Deliverable 2. Create a Customer Travel Destinations Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [19]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Santa Maria,BR,-29.6842,-53.8069,94.86,22,0,6.17,clear sky
1,1,Tasiilaq,GL,65.6145,-37.6368,21.36,60,32,7.78,scattered clouds
2,2,Puerto Ayora,EC,-0.7393,-90.3518,82.36,84,80,5.01,broken clouds
3,3,Grindavik,IS,63.8424,-22.4338,30.67,93,75,19.57,light snow
4,4,Iqaluit,CA,63.7506,-68.5145,-6.29,98,100,4.34,light snow

In [20]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [21]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Puerto Ayora,EC,-0.7393,-90.3518,82.36,84,80,5.01,broken clouds
6,6,Sao Joao Da Barra,BR,-21.6403,-41.0511,77.09,92,100,7.83,overcast clouds
10,10,Kirakira,SB,-10.4544,161.9205,78.46,85,95,6.76,overcast clouds
14,14,Sambava,MG,-14.2667,50.1667,78.37,84,69,3.80,light rain
16,16,Saint-Pierre,RE,-21.3393,55.4781,78.48,78,75,11.50,broken clouds
17,17,Rosarito,MX,32.3333,-117.0333,81.09,30,0,10.20,clear sky
18,18,East London,ZA,-33.0153,27.9116,73.40,75,3,4.88,clear sky
20,20,Mar Del Plata,AR,-38.0023,-57.5575,82.42,66,0,16.11,clear sky
21,21,Castro,BR,-24.7911,-50.0119,77.85,51,14,2.55,few clouds
25,25,Georgetown,MY,5.4112,100.3354,80.53,87,20,0.00,light rain

In [22]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                255
City                   255
Country                255
Lat                    255
Lng                    255
Max Temp               255
Humidity               255
Cloudiness             255
Wind Speed             255
Weather Description    255
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# Done in step 3

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,82.36,broken clouds,-0.7393,-90.3518,
6,Sao Joao Da Barra,BR,77.09,overcast clouds,-21.6403,-41.0511,
10,Kirakira,SB,78.46,overcast clouds,-10.4544,161.9205,
14,Sambava,MG,78.37,light rain,-14.2667,50.1667,
16,Saint-Pierre,RE,78.48,broken clouds,-21.3393,55.4781,
17,Rosarito,MX,81.09,clear sky,32.3333,-117.0333,
18,East London,ZA,73.40,clear sky,-33.0153,27.9116,
20,Mar Del Plata,AR,82.42,clear sky,-38.0023,-57.5575,
21,Castro,BR,77.85,few clouds,-24.7911,-50.0119,
25,Georgetown,MY,80.53,light rain,5.4112,100.3354,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure